body {
font-family: "Segoe UI", Tahoma, sans-serif ;
background-color: #74acf0;
padding: 50px;
margin: 0;
}


.container {
background-color: #ffffff;
max-width: 420px;
margin: 40px auto;
padding: 35px 40px;
border-radius: 14px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}


h1 {
text-align: center;
font-size: 30px;
font-weight: 650;
margin-bottom: 30px;
color: #2c3e50
}


.form-group {
margin-bottom: 24px;
}


label {
display: block;
font-weight: 550;
line-height: 1.7;
margin-bottom: 8px;
color: #34495e;
}


input {
width: 100%;
padding: 12px 15px;
border: 1.5px solid #ccd6e0;
border-radius: 8px;
font-size: 15px;
box-sizing: border-box;
transition: border-color 0.3s ease;
}


input:focus {
outline: none;
border-color: #5b7cfa;
}


.button-group {
display: flex;
gap: 18px;
margin-top: 20px;
}


.btn {
flex: 1;
padding: 14px;
border: none;
border-radius: 8px;
font-size: 15px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2x ease;
}

.submit-btn {
background-color: #5b7cfa;
color: #ffffff;
}


.submit-btn:hover {
background-color: #4867e0;
transform: translate(-1px);
}


.reset-btn {
background-color: #e0e4ea;
color: #2f3640;
}


.reset-btn:hover {
background-color: #cfd6dd;
transform: translate(-1px);
}


footer {
text-align: center;
font-size: 13px;
color: #ffffff;
margin-top: 40px;
}